body {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
}
*:focus {
  outline: 3px dotted #ff7500;
  outline-offset: 3px;
}
.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px rgba(255, 117, 0, 1) solid;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header ul {
  margin: 0;
  margin-right: 32px;
}
.header ul li {
  margin-right: 32px;
}
.header ul li:last-child {
  margin: 0;
}
.logo {
  transition: opacity 0.4s ease;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.nav-link{
  color: #000;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.4s ease,
  color 0.4s ease;
}
.nav-link:hover{
  opacity: 0.8;
  color: #ff7500;
}
.nav-link:active {
  opacity: 0.6;
}
.header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}
.main-button {
  background-color: #ff7500;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  transition: opacity 0.4s ease;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 4px;
}
.main-button:hover{
  opacity: 0.8;
}
.main-button:active {
  opacity: 0.6;
}
.section-kitob-python {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  background-color: #252420;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-kitob-python p {
  width: 387px;
  margin: 0;
  margin-bottom: 32px;
}
.python-heading {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  width: 339px;
  margin: 0;
  margin-bottom: 24px;
}
.python-rasim {
  border-radius: 8px;
}
.button {
  width: 152px;
  height: 39px;
  background-color: #ff7500;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  transition: opacity 0.4s ease;
  padding: 12px 24px;
  border-radius: 4px;
}
.button:hover {
  opacity: 0.8;
}
.button:active{
  opacity: 0.6;
}
.short-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
  border: 0;
  margin: 0;
  margin-bottom: 40px;
}
.section-features {
  padding-top: 210px;
  padding-bottom: 210px;
}
.feature-heading {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  color: #000;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  width: 440px;
  margin: 0;
  margin-bottom: 72px;
}
.features-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.feature {
  list-style-type: none;
  width: 340px;
  margin-right: 40px;
}
.last-feature {
  margin: 0;
}
.feature-icon {
  background-color: rgba(255, 117, 0, 0.2);
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
}
main h3 {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 24px;
  color: #000;
}
.feature-text {
  color: #000;
  width: 314px;
}
.aksiya-kitob {
  width: 440px;
  height: 440px;
  border-radius: 12px;
}
.section-aksiya {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  background-color: #252420;
  color: #fff;
  border-radius: 12px;
}
.aksiya-content {
  width: 440px;
}
.aksiya-heading {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  width: 373px;
  margin: 0;
  margin-bottom: 24px;
}
.aksiya-text {
  margin: 0;
  margin-bottom: 24px;
}
.aksiya-highlight {
  color: #ff7500;
  font-weight: bold;
}

.footer {
  width: 1440px;
  background-color: #f8f8f8;
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-media ul li {
  margin-right: 16px;
}
.footer-social-media ul li:last-child {
  margin-right: 0;
}
.footer-social-media svg{
  color: #252420;
  transition: opacity 0.4s ease, color 0.4s ease;
}
.footer-social-media svg:hover {
  opacity: 0.8;
  color: #ff7500;
}
.footer-social-media svg:active {
  opacity: 0.6;
}
.footer-social-media ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
.footer-links {
  display: flex;
  align-items: flex-start;
  margin-top: 64px;
}
.footer-links ul {
  margin: 0;
  margin-right: 68px;
}
.footer-links ul:last-child {
  margin-right: 0;
}
.site-footer-divider {
  width: 1100px;
  height: 2px;
  background-color: rgba(37, 36, 32, 0.50);
  border: 0;
  margin: 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
.footer-link {
  width: 224px;
  color: #252420;
  text-decoration: none;
  transition: opacity 0.4s ease, color 0.4s ease;
}
.footer-link:hover {
  opacity: 0.8;
  color: #ff7500;
}
.footer-link:active {
  opacity: 0.6;
}
