body {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
}
body hr {
  width: 1440px;
  height: 5px;
  background-color: rgba(255, 117, 0, 1);
}
.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  transition: opacity 0.4s ease;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.nav-link{
  color: #000;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.4s ease,
  color 0.4s ease;
}
.nav-link:hover{
  opacity: 0.8;
  color: #ff7500;
}
.nav-link:active {
  opacity: 0.6;
}
.header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.main-button {
  width: 155px;
  height: 39px;
  background-color: #ff7500;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  transition: opacity 0.4s ease;
}
.main-button:hover{
  opacity: 0.8;
}
.main-button:active {
  opacity: 0.6;
}
.section-kitob-python {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  background-color: #252420;
  color: #fff;
}
.section-kitob-python p {
  width: 387px;
}
.python-heading {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  width: 339px;
}
.button {
  width: 152px;
  height: 39px;
  background-color: #ff7500;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  transition: opacity 0.4s ease;
}
.button:hover {
  opacity: 0.8;
}
.button:active{
  opacity: 0.6;
}
.short-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}
.feature-heading {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  color: #000;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  width: 440px;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.feature {
  list-style-type: none;
  width: 340px;
}
.feature-icon {
  background-color: rgba(255, 117, 0, 0.2);
  width: 100px;
  object-fit: contain;
}
main h3 {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 24px;
  color: #000;
}
.feature-text {
  color: #000;
  width: 314px;
}
.aksiya-kitob {
  width: 440px;
  height: 440px;
}
.section-aksiya {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  background-color: #252420;
  color: #fff;
}
.aksiya-content {
  width: 440px;
}
.aksiya-heading {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  width: 373px;
}
.aksiya-highlight {
  color: #ff7500;
  font-weight: bold;
}

.footer {
  width: 1440px;
  background-color: #f8f8f8;
}
.footer-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-media svg{
  color: #252420;
  transition: opacity 0.4s ease, color 0.4s ease;
}
.footer-social-media svg:hover {
  opacity: 0.8;
  color: #ff7500;
}
.footer-social-media svg:active {
  opacity: 0.6;
}
.footer-social-media ul {
  display: flex;
  justify-content: flex-end;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.site-footer-divider {
  width: 1100px;
  height: 2px;
  background-color: rgba(37, 36, 32, 0.50);
}
footer ul {
  list-style-type: none;
}
.footer-link {
  width: 224px;
  color: #252420;
  text-decoration: none;
  transition: opacity 0.4s ease, color 0.4s ease;
}
.footer-link:hover {
  opacity: 0.8;
  color: #ff7500;
}
.footer-link:active {
  opacity: 0.6;
}
